.products {
  width: 50%;
  display: grid;
  grid-template-rows: 80% 20%;
  margin:0  auto ;
  .objective-image {
    position: relative;
    width: 70%;
    margin: auto;
    img {
      width: 100%;
      border-radius: 15px;
    }

  }
  .short-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;
    margin: auto;
    width: 70%;
    max-width: 480px;
    img {
      border-radius: 10px;
      width: 100%;
      &:hover{
        transform: scale(105%);
        transition: transform ease 200ms;
        border: 2px solid $orange;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .products {
    margin-top: 0;
    width: 100%;
    grid-template-rows: 100% 0%;
    .objective-image {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        max-height: 300px;
        border-radius: 0;
      }
    }
    .short-images {
      display: none;
    }
  }
}
