.zoom-products{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.841);
    width: 100vw;
    height: 100%;
    .zoom-container{
        width: 90%;
        // margin: auto;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        .close-icon-div{
            width: 35%;
            margin: auto;
            text-align: right;
            padding: 0 10px 20px 0;
            >img{
                width: 20px;
                margin: auto;
                filter: brightness(0) invert(1);
                &:hover{
                    filter: sepia(1) saturate(6)
                }
            }
        }
    }
}

@media screen and (max-width : 550px) {
    .zoom-products{
        display: none;
        
    }
}